CAREERSIGNAL_DATA_MODE=local

MOTHERDUCK_TOKEN=
MOTHERDUCK_DATABASE=CareerSignal

CAREERSIGNAL_EXCEL_PATH=../../outputs/job_search_tracker.xlsx
CAREERSIGNAL_LOCAL_DATA_DIR=../../data

DBT_PROJECT_DIR=../../dbt
DBT_PROFILES_DIR=../../dbt
DBT_TARGET=local
CAREERSIGNAL_RUN_DBT=true
CAREERSIGNAL_RUN_DBT_TESTS=true

CORS_ORIGINS=http://localhost:3000
